.wrapper1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card1 {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card1 > .row1 {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card1 > .row1 > .icon1 {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card1 > .row1 > .description1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description1 p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description1 h4 {
  text-transform: uppercase;
}

input {
  /* display: none; */
}

input:checked + label {
  width: 600px;
}

input:checked + label .description1 {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card1[for="c1"] {
  background-image: url('./003.jpg');
}
.card1[for="c2"] {
  background-image: url('./001.jpg');
}
.card1[for="c3"] {
  background-image: url('./002.jpg');
}
.card1[for="c4"] {
  background-image: url('./003.jpg');
}
.card1[for="c5"] {
  background-image: url('./003.jpg');
}
.card1[for="c6"] {
  background-image: url('./003.jpg');
}


@media (max-width: 768px) {
  .wrapper1{
    height: 50vh;
  }

  .container1 {
    height: 296px;
    width: 353px;
}
.card1{
  width: 42px;
}
}