
@keyframes infinite-scroll {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

.animate-infinite-scroll {
	animation: infinite-scroll 20s linear infinite;
	will-change: transform;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
	transform: translateZ(0);
}

@keyframes spin-slow {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.animate-spin-slow {
	animation: spin-slow 20s linear infinite;
}

@keyframes spin-slow-reverse {
	0% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}
.animate-spin-slow-reverse {
	animation: spin-slow-reverse 0s linear infinite;
}
